
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

[Dd]ebug*/
*.DS_Store
Debug/
.DS_Store
Compiler/bin/Debug/Compiler.vshost.exe.config
Compiler/bin/Debug/Compiler.vshost.exe.manifest
Compiler/bin/Debug/SharpNative.exe
Compiler/bin/Debug/SharpNative.pdb
Compiler/obj/Debug/Compiler.csproj.FileListAbsolute.txt
Compiler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Compiler/obj/Debug/SharpNative.exe
Compiler/obj/Debug/SharpNative.pdb
CsNativeVisual/.DS_Store
CsNativeVisual/bin/Debug/.DS_Store
CsNativeVisual/bin/Debug/CsNative.exe
CsNativeVisual/bin/Debug/CsNative.exe.mdb
CsNativeVisual/bin/Debug/CsNative.pdb
CsNativeVisual/bin/Debug/CsNativeVisual.application
CsNativeVisual/bin/Debug/CsNativeVisual.exe
CsNativeVisual/bin/Debug/CsNativeVisual.exe.manifest
CsNativeVisual/bin/Debug/CsNativeVisual.pdb
CsNativeVisual/bin/Debug/CsNativeVisual.vshost.application
CsNativeVisual/bin/Debug/CsNativeVisual.vshost.exe.manifest
CsNativeVisual/bin/Debug/SharpNative.exe
CsNativeVisual/bin/Debug/SharpNative.pdb
CsNativeVisual/obj/Debug/CsNativeVisual.application
CsNativeVisual/obj/Debug/CsNativeVisual.csproj.FileListAbsolute.txt
CsNativeVisual/obj/Debug/CsNativeVisual.csprojResolveAssemblyReference.cache
CsNativeVisual/obj/Debug/CsNativeVisual.exe
CsNativeVisual/obj/Debug/CsNativeVisual.exe.manifest
CsNativeVisual/obj/Debug/CsNativeVisual.g.resources
CsNativeVisual/obj/Debug/CsNativeVisual.pdb
CsNativeVisual/obj/Debug/CsNativeVisual_MarkupCompile.cache
CsNativeVisual/obj/Debug/CsNativeVisual_MarkupCompile.i.cache
CsNativeVisual/obj/Debug/CsNativeVisual_MarkupCompile.lref
CsNativeVisual/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CsNativeVisual/obj/Debug/GeneratedInternalTypeHelper.g.cs
CsNativeVisual/obj/Debug/MainWindow.baml
CsNativeVisual/obj/Debug/MainWindow.g.cs
CsNativeVisual/obj/Debug/MainWindow.g.i.cs
DCorlib/Debug/DCorlib.dep
DCorlib/Debug/DCorlib.json
DCorlib/Debug/DCorlib.lib
DCorlib/System/.DS_Store
SharpNative.sln.ide/edb.chk
SharpNative.sln.ide/edb.log
SharpNative.sln.ide/edb00388.log
SharpNative.sln.ide/edb00389.log
SharpNative.sln.ide/edbtmp.log
SharpNative.sln.ide/storage.ide
SharpNative.v12.suo
Tests/AlterNative-Tests
.DS_Store
*.exe.config
.DS_Store
bin/
